[color]
  ui = true
[alias]
  pl = pull
  ps = push
  co = checkout
  cm = commit
  st = status
  stt = status -uno
  difff = diff --word-diff
  br = branch
[push]
  default = current
[user]
	name = sato
