[color]
  ui = true
[alias]
  pl = pull
  ps = push
  co = checkout
  cm = commit
  st = status
  stt = status -uno
  difff = diff --word-diff
  br = branch
  cob = !git branch | peco | xargs git co
  drymg = merge --no-commit --no-ff

[push]
  default = current
